{% extends "base.html" %} {% block head %} {% load static %}
<title>Text Analyser | Corpusify</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}"> {% endblock %}

<!--  -->
{% block body %}
<div class="container">

    <div class="row">
        <div class="col-md-12 d-flex  flex-column align-items-center">
            <h1 class="text-dark">Text Analyser</h1>
            <p>Enter your text below 🙂</p>
        </div>
        <form class="col-md-12 d-flex flex-column" method="POST" action="">
            {% csrf_token %}
            <textarea class="form-control" placeholder="Enter text to analyse" id="floatingTextarea2 input" style="height: 100px" required maxlength="5000" name="text"></textarea>
            <div class="col-md-12 d-flex flex-column pt-1" style="row-gap: .5rem;">

                <label for="removePunc" class="d-flex text-align-center align-items-center" style="column-gap: 1rem;">Remove Punctuations
                    <input type="checkbox" name="removePunc" id="removePunc">
                </label>

                <label for="removeSpace" class="d-flex text-align-center align-items-center" style="column-gap: 1rem;">Remove Space
                    <input type="checkbox" name="removeSpace" id="removeSpace">
                </label>

                <label for="Uppercase" class="d-flex text-align-center align-items-center" style="column-gap: 1rem;">
                    Uppercase
                    <input type="radio" name="case" id="Uppercase" value="upper">
                </label>

                <label for="Lowercase" class="d-flex text-align-center align-items-center" style="column-gap: 1rem;">
                    Lowercase
                <input type="radio" name="case" id="Lowercase" value="lower">
                </label>

                <button type="submit" class="btn btn-dark">Analyse</button>
            </div>
        </form>
        {% if text %}
        <style>
            .output-wrapper {
                position: relative;
            }
            
            .clearBtn {
                position: absolute;
                top: 2%;
                right: 5%;
            }
        </style>
        <div class="col-md-12 output-wrapper bg-light p-4 mt-3 rounded-5 position-relative mb-3">
            <!-- <button class="btn btn-dark clearBtn" style="left: 5%;" onclick="copy()">Copy</button> -->
            <button class="btn btn-dark clearBtn" style="left: 5%;" onclick="copyText(document.querySelector('#output-text'))">Copy</button>
            <button class="btn btn-dark clearBtn" onclick="clearOutput()">Clear</button>
            <p class="h3 d-flex justify-content-center">---Output---</p>
            <p>Word Count: {{word_count}}</p>
            <p class="">Letter Count: {{letter_count}}</p>
            <p id="output-text">{{text}}</p>
        </div>
        <script>
            function clearOutput() {
                window.location = "";
            }

            function copyText(element) {
                var range, selection, worked;

                if (document.body.createTextRange) {
                    range = document.body.createTextRange();
                    range.moveToElementText(element);
                    range.select();
                } else if (window.getSelection) {
                    selection = window.getSelection();
                    range = document.createRange();
                    range.selectNodeContents(element);
                    selection.removeAllRanges();
                    selection.addRange(range);
                }

                try {
                    document.execCommand('copy');
                    alert('Text copied!!!');
                } catch (err) {
                    alert('unable to copy text');
                }
            }
        </script>
        {% endif %}
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}